nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: solid 1px #aaa;
    background-color: #212121;
  }

  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }

  #clock{
    background-color: orange;
    color: black;
    padding: 15px;
    border-radius: 30px;
    font-size: 12rem;
  }