nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: solid 1px #aaa;
    background-color: #212121;
  }

  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }

  #tip{
    background-color: #212121;
    color: #fff;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
  }
  